:root {
    --dimension-em: 1em;
    --dimension-px: 1px;
    --red-color: #ff6868;
    --orange-color: #ffae74;
    --yellow-color: #ffd5a6;
    --purple-color: #a962dc;
    --blue-color: #9cd0ff;
    --green-color: #548f73;
    --dark-background-color: #1b1b1b;
    --light-background-color: #ebebeb;
    --secondary-color: #878787;
    --dark-text-color: #333;
    --light-text-color: #ebebeb;
    --dark-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    --light-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
    --dark-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    --light-text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    --transition: all 0.2s linear;

    --gloock-font-family: "Gloock", sans-serif;
    --helvetica-neue-family: "Helvetica Neue", sans-serif;
    --arial-rounded-family: "Arial Rounded MT Bold", sans-serif;
}

::selection {
    color: var(--light-text-color);
    background-color: var(--dark-background-color);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../../assets/images/teams/hero.png");

    font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    letter-spacing: -0.05em;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;

    & > .dynamic-header {
        width: 250px;
        height: 50px;
        outline: 0;

        background-color: #020202;
        border-radius: 25px;
        margin: 30px 0.5em;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        animation-duration: 4s;
        transition: width 638ms, height 800ms, border-radius 300ms,
            box-shadow 800ms;
        z-index: 9999;

        cursor: pointer;

        & > span {
            font-weight: 700;
            color: var(--light-text-color);
            cursor: default;
            font-size: large;
        }

        & > .circle {
            border-radius: 1000px;
            border: 5px solid rgb(226, 59, 38);
            width: 5px;
            height: 5px;
            padding: 0px;
        }

        & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            transform: translateX(0);
            transition: opacity 638ms, transform 638ms;
            opacity: 0;

            margin-left: -10em;

            & > li,
            & > a {
                visibility: hidden;
                text-decoration: none;
                color: var(--secondary-color);
                list-style: none;
                margin: 0.25em;

                &:hover {
                    color: var(--light-text-color);
                    text-decoration: underline;
                }
            }

            & > h4 {
                color: rgb(226, 59, 38);
                font-weight: 400;
                letter-spacing: -0.5px;
                font-size: 13px;
            }
            & > h5 {
                color: var(--light-text-color);
                font-weight: 600;
                letter-spacing: -0.2px;
                font-size: 18px;
                transition: all 1s;
            }
        }

        & > .circle {
            opacity: 1;
            transition: all 638ms;
            z-index: 1;

            animation: beat 2s ease-in-out infinite;
        }

        & a > img {
            margin-top: 0.25em;
            border-radius: 1px;
            filter: brightness(0.8);
            transition: width 638ms, height 800ms, border-radius 300ms,
                margin-bottom 300ms;
        }

        &:focus {
            width: 400px;
            height: 150px;
            border-radius: 40px;
            gap: 1em;
            cursor: auto;
            box-shadow: 0 0 500px 750px rgba(255, 255, 255, 1);

            & > span {
                text-shadow: var(--light-text-shadow);
            }

            & > div {
                opacity: 1;

                & > a {
                    visibility: visible;
                }
            }

            & ~ .dynamic-header-circle {
                opacity: 0;
                transform: translateX(-100px);

                & > img {
                    z-index: -10;
                    transform: scale(0.1);
                }
            }

            & .circle {
                opacity: 0.9;
                transform: translateY(-5px);
                padding-block: 20px;
                border-color: #333;
                border-width: 3px;
                animation-name: none;
            }

            & a > img {
                height: 75px;
                width: 75px;
                border-radius: 5px;
                filter: brightness(0.9);
            }
        }
    }
}

.primary-text {
    color: var(--dark-text-color);
}

.secondary-text {
    color: var(--secondary-color);
}

sup {
    font-weight: 300;
    vertical-align: super;
}

section.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-inline: 5em;
    height: calc(100dvh - 126px); /* header's height */
}

section#team {
    scroll-margin-top: 21dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-wrap: pretty;

    width: 100vw;
    height: calc(100dvh - 126px); /* This is just a magic numer */

    padding-inline: 150px;

    & h3 {
        color: var(--dark-text-color);
        font-weight: 900;
        text-align: center;
    }

    & h1 {
        font-size: clamp(28px, 5vw, 66px);
        color: var(--secondary-color);
        cursor: default;
        text-align: center;

        & span {
            color: var(--dark-text-color);
        }
    }

    & p {
        margin-top: 0.5em;
        color: var(--red-color);
        font-weight: 600;
    }
}
section#projects {
    scroll-margin-top: 0vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100dvh;
    padding-block: 2.5em;
    padding-inline: 150px;
    row-gap: 2.5em;
    background-color: #020202;

    /* Responsive font size for heading */
    & h2 {
        color: var(--orange-color);
        font-size: clamp(28px, 5vw, 48px);
    }

    & > p {
        margin-top: -1em;
        color: var(--secondary-color);
    }

    /* Project container div */
    div {
        display: flex;
        column-gap: 5em;
    }

    .project {
        display: flex;
        width: calc(50vw - 150px);
        height: 471px;
        background-position: center;
        border-radius: 26px;
        background-size: cover;
        transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
        mix-blend-mode: normal;

        /* Hover effect */
        &:hover {
            mix-blend-mode: hard-light;

            p {
                filter: blur(0px);
            }

            &#ita p {
                color: #e8c8ff;
            }

            &#kaeru p {
                color: #ffbaba;
            }
        }

        /* Text overlay styling */
        p {
            padding-inline: 0.5em;
            margin-top: auto;
            border-radius: inherit;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            color: #fff;
            width: 100%;
            height: 100px;
            filter: blur(2px);
            font-size: xx-large;
            font-weight: 700;
        }

        /* Background images for each project */
        &#kaeru {
            background-image: url(./assets/images/Kaeru.webp);

            &:hover {
                background-image: url("./assets/images/Kaeru_hover.webp");
            }
        }

        &#ita {
            background-image: url(./assets/images/Ita.webp);

            &:hover {
                background-image: url("./assets/images/Ita_hover.webp");
            }
        }
    }
}

.image-circle {
    position: absolute;
    width: 120px;
    height: 120px;
    mix-blend-mode: darken;
    transition: transform 0.3s ease;
    transform-origin: center; /* Merkezden büyüme için */
}

/* Resimlere img etiketinde aynı blend mode özelliğini ekliyoruz */
.image-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: darken;
}

/* Rastgele konumlar için */
.image-circle.circle1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5); /* Başlangıçta merkezde ve küçük */
    animation: moveToCircle1 1s ease forwards, float 10s infinite ease-in-out; /* İlk animasyon + hareket */

    &:hover {
        transform: translate(-50%, -50%) scale(1.1); /* Hoverda büyüme merkezden */
    }
}

.image-circle.circle2 {
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%) scale(0.2); /* Start at center, small */
    animation: moveToCircle2 1s ease forwards, float 8s infinite ease-in-out;
}

.image-circle.circle3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5); /* Başlangıçta merkezde ve küçük */
    animation: moveToCircle3 1s ease forwards, float 6s infinite ease-in-out; /* İlk animasyon + hareket */

    &:hover {
        transform: translateX(-50%) scale(1.1); /* Hoverda büyüme */
    }
}

/* Move to specific positions from the center */
@keyframes moveToCircle1 {
    from {
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.5); /* Start at center, small */
    }
    to {
        opacity: 1;
        top: 10%;
        left: 5%;
        transform: translate(0, 0) scale(1); /* Move to final position and size */
    }
}

@keyframes moveToCircle2 {
    from {
        opacity: 0;
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%) scale(0.5); /* Start at center, small */
    }
    to {
        opacity: 1;
        top: 40%;
        right: 5%;
    }
}

@keyframes moveToCircle3 {
    from {
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.5); /* Start at center, small */
    }
    to {
        opacity: 1;
        top: 70%;
        left: 50%;
        transform: translateX(-50%) scale(1); /* Move to final position and size */
    }
}

/* Floating effect animation */
@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Move up slightly */
    }
}

/* Information Area */
.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3em;
    width: 100%;
    margin-top: 20px;
}

.ach-1 {
    display: flex;
    flex-direction: column;
}

.ach-1 strong {
    font-size: 2em;
    font-weight: 300;
}

.ach-1 span {
    font-size: 1em;
}

.team-icon {
    flex-shrink: 0;
    width: 131px;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.titles {
    display: inline-flex;
    flex-direction: column;
    row-gap: 1em;

    & > h1 {
        font-size: 10em;
        letter-spacing: 1.2px;
        font-weight: 500;
        font-variation-settings: "wdth" 50;
    }

    & > p {
        font-size: 1.5em;
        font-weight: 300;
        letter-spacing: 0.5px;
        color: #ccc;
    }
}

.hero-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw; /* Adjust for responsiveness */
    min-height: 10pxs;
    z-index: 10;
    display: block;
    mix-blend-mode: darken;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    z-index: 10;
}

.springish {
    animation: springish;
    animation-iteration-count: 1;
    animation-duration: 2.38s;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.fade-in {
    animation: fadeIn 1 1.5s forwards ease;
    transform: scale(0.0001);
    transform-origin: bottom;
}

.about-me {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5em;
    height: 100dvh;
    padding-inline: 5em;
    padding-block: 10em;
    background-color: #020202;
    color: var(--light-text-color);
}

.about-me .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
    row-gap: 1.5em;

    & h2 {
        font-size: clamp(28px, 5vw, 48px);
    }

    & p {
        color: var(--secondary-color);
        font-size: clamp(16px, 3vw, 24px);
    }
}

.about-me img {
    width: 100%;
    max-width: 423px;
}

.big {
    animation: big 5s infinite ease-in-out;
}

@keyframes big {
    0%,
    30%,
    100% {
        font-size: large; /* Normal size */
        font-weight: 700; /* Normal state */
    }
    40%,
    90% {
        font-size: xx-large; /* Large size */
        font-weight: 300; /* Thin text */
    }
}

@keyframes springish {
    0.00% {
        transform: scale(0);
    }
    10.16% {
        transform: scale(1.4106);
    }
    21.39% {
        transform: scale(0.8391);
    }
    32.62% {
        transform: scale(1.0631);
    }
    43.85% {
        transform: scale(0.9753);
    }
    55.08% {
        transform: scale(1.0097);
    }
    66.31% {
        transform: scale(0.9962);
    }
    77.54% {
        transform: scale(1.0015);
    }
    88.77% {
        transform: scale(0.9994);
    }
    100.00% {
        transform: scale(1.0002);
    }
}

@keyframes beat {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.01);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 900px) {
    .hero-title-section {
        padding-inline: 60px;
    }

    section#projects {
        padding-inline: 80px;
        height: fit-content;
    }

    #projects div {
        flex-direction: column;
        align-items: center;
        row-gap: 5em;
    }

    .project {
        width: 100% !important;
    }

    .about-me {
        flex-direction: column;
        height: max-content;
        padding: 2.5em;

        & .content {
            width: 100%;
        }

        & img {
            align-self: center;
        }
    }

    .image-circle {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 768px) {
    section#projects {
        padding-inline: 50px;
        row-gap: 1.5em;
    }

    .project {
        width: 100%; /* Full-width on smaller screens */
        height: 300px;
    }
}

@media (max-width: 480px) {
    section#projects {
        padding-inline: 20px;
        row-gap: 1em;
    }

    h2 {
        font-size: clamp(24px, 6vw, 36px);
    }

    .project {
        height: 250px; /* Adjusted height for mobile */
        p {
            font-size: large;
        }
    }

    .hero-title-section {
        padding-inline: 15px;
    }

    .image-circle {
        width: 80px;
        height: 80px;
    }
}
