@import url("https://fonts.cdnfonts.com/css/kitchen-counter");

::selection {
    color: var(--clr-neutral-100);
    background-color: var(--ita-color);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        var(--ita-color),
        var(--clr-neutral-900)
    );
}

#ita-logo {
    width: 50px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

body {
    font-family: "Kitchen Counter", sans-serif;
}

header {
    position: fixed;
    top: 32px;
    left: 0;
    right: 0;
    margin: auto 150px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    z-index: 9999;
    animation: slide-up 3s ease-out forwards;
}

li {
    color: var(--clr-neutral-100);
    &:hover {
        color: var(--clr-neutral-100);
        text-shadow: 0 0 6.5px var(--clr-neutral-300);

        &.nav-item:last-child {
            box-shadow: 0 0 6.5px var(--ita-color);
        }
    }
}

nav ul li.nav-item:last-child {
    border: 1px solid var(--ita-color);
    color: var(--ita-color);
}

main section {
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    background-image: url("../assets/images/ita/ita_main_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    animation: slide-up 3s ease-in-out forwards,
        zoom-in-animation 6s ease-in-out infinite;
}

main section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.4),
        rgba(0, 0, 0, 0.7)
    );
    z-index: -1;
}

main section h1 {
    padding: 0.5em;
    color: transparent;
    -webkit-text-stroke: 1px var(--ita-color);
    text-align: left;
    animation: zoom-out-animation 6s ease-in-out infinite;
    font-family: "Mastyle";
}

main section div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main section div :is(p, a) {
    padding: 1.5em;
    color: rgb(193, 193, 193);
    text-align: left;
    animation: zoom-out-animation 8s ease-in-out infinite;
}

main section div a {
    border: 2px solid var(--ita-color);
    padding: 1em;
    margin: 2em;
    border-radius: 15px;
    color: var(--ita-color);
    font-weight: 600;
    cursor: pointer;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    animation: zoom-out-animation 10s ease-in-out infinite;

    & img {
        margin-right: 0.25em;
        transition: all 0.5s ease-in-out;
    }

    &:hover {
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 5px var(--ita-color);

        & img {
            transform: rotate(180deg);
        }
    }
}

section:nth-child(2) {
    margin: 7.5em 150px;
}

section:nth-child(2) h6,
section:nth-child(3) h6 {
    text-transform: uppercase;
    color: var(--clr-neutral-300);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
}

section:nth-child(2) > div {
    position: relative;
    top: 0;
    background-image: url("../assets/images/ita/ita_mail_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    padding: 3em;
    margin: 5em auto;
    display: flex;
    align-items: center;
    z-index: -2;
}

section:nth-child(2) > div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: -1;
    border-radius: 15px;
}

section:nth-child(2) div div:nth-child(1) {
    margin: 0;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    align-items: start;
    color: var(--clr-neutral-100);
}
section:nth-child(2) div div:nth-child(1) p {
    color: var(--clr-neutral-300);
}

section:nth-child(2) div div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
}

section:nth-child(2) div div:nth-child(2) img {
    border-radius: 25px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 0 25px var(--clr-neutral-900);
    animation: rotating 5s ease-in-out infinite;
}

section:nth-child(2) div div:nth-child(2) h6 {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    color: var(--clr-neutral-300);
    font-style: italic;
    text-transform: capitalize;
}

section:nth-child(3) {
    margin: auto 150px;
}

section:nth-child(3) div {
    display: flex;
    flex-wrap: wrap;
}

section:nth-child(3) > p {
    margin-bottom: 3em;
}

section:nth-child(3) div div {
    flex: 0 0 calc(33.333% - 4em);
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    border-radius: 15px;
    background-color: var(--clr-neutral-900);
}

section:nth-child(3)
    div
    div:is(
        :nth-child(1),
        :nth-child(2),
        :nth-child(3),
        :nth-child(4),
        :nth-child(5),
        :nth-child(6)
    ) {
    animation: visible-and-not 3s ease-in-out infinite;
}
section:nth-child(3)
    div
    div:is(
        :nth-child(1),
        :nth-child(2),
        :nth-child(3),
        :nth-child(4),
        :nth-child(5),
        :nth-child(6)
    ):hover {
    position: relative;
    top: 0;
    background-image: url("../assets/images/ita/ita_commands1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: show-up 1.5s ease-in-out forwards;
    box-shadow: 0 0 15px var(--clr-neutral-900);

    &::after {
        transition-delay: -1s;
        -webkit-transition-delay: -1s;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.55);
        z-index: 1;
        border-radius: 15px;
    }
}
section:nth-child(3) div div:nth-child(2):hover {
    background-image: url("../assets/images/ita/ita_commands2.png");
}
section:nth-child(3) div div:nth-child(3):hover {
    background-position: bottom;
    background-image: url("../assets/images/ita/ita_commands3.png");
}
section:nth-child(3) div div:nth-child(4):hover {
    background-image: url("../assets/images/ita/ita_commands4.png");
}
section:nth-child(3) div div:nth-child(5):hover {
    background-image: url("../assets/images/ita/ita_commands5.png");
}
section:nth-child(3) div div:nth-child(6):hover {
    background-image: url("../assets/images/ita/ita_commands6.png");
}

section:nth-child(3) div div h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-neutral-100);
    z-index: 2;

    & img {
        margin-right: 0.25em;
    }

    & span {
        border-radius: 10px;
        border: 1px solid var(--ita-color);
        font-size: xx-small;
        padding: 0.25em 0.5em;
        color: var(--ita-color);
        margin-left: 0.5em;
    }
}

section:nth-child(3) div div h6 {
    text-transform: lowercase;
    margin: 0.5em;
    z-index: 2;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

section:nth-child(3) div div p {
    color: var(--clr-neutral-100);
    z-index: 2;
}

footer {
    height: 5px;
    width: 100%;
    background: linear-gradient(
        45deg,
        var(--ita-color),
        var(--clr-neutral-900)
    );
}

@keyframes rotating {
    0%,
    100% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }
}

@keyframes show-up {
    from {
        background-position-x: 0%;
    }
    to {
        background-position-x: center;
    }
}

@keyframes visible-and-not {
    0%,
    100% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoom-in-animation {
    0%,
    100% {
        background-position-y: center;
    }
    50% {
        background-position-y: 0%;
    }
}

@keyframes zoom-out-animation {
    0%,
    100% {
        scale: 1;
    }
    50% {
        scale: 1.05;
        transform: translateY(-35px);
    }
}

@-webkit-keyframes slide-up {
    from {
        transform: translateY(-35px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes zoom-in-animation {
    0%,
    100% {
        background-position-y: center;
    }
    50% {
        background-position-y: 0%;
    }
}

@-webkit-keyframes zoom-out-animation {
    0%,
    100% {
        transform: translate(0) scale(0.99);
    }
    50% {
        transform: translateY(-35px) scale(1);
    }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
    section:nth-child(3) div {
        flex-direction: column;
    }

    section:nth-child(3) div div {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 4em 2em;
        justify-content: space-around;
        margin: 2em 0;
    }
}

@media screen and (max-width: 1024px) {
    section:is(:nth-child(2), :nth-child(3)) {
        margin: 64px;
    }

    header {
        justify-content: space-between;
    }

    section:nth-child(2) > div {
        flex-direction: column;
    }

    section:nth-child(2) div div:nth-child(2) img {
        margin: auto;
        margin-top: 1em;
        width: 100%;
        height: fit-content;
        object-fit: cover;
    }

    section:nth-child(3) div {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    section:is(:nth-child(2), :nth-child(3)) {
        margin: 32px;
    }
}

@media screen and (max-width: 580px) {
    section:is(:nth-child(2), :nth-child(3)) {
        margin: 16px;
    }

    header {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    header {
        display: none;
    }
}
